p,
.footer {
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 30px;
  line-height: 1.5;
  padding-left: 60px;
  padding-right: 60px;
}
button {
  display: block;
  margin: 50px auto 20px;
  padding: 15px 20px;
  background: rgb(165, 48, 48);
  color: rgb(230, 230, 230);
  font-size: 15px;
  border: 1px solid rgb(165, 48, 48);
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgb(143, 21, 21);
  transition: all 150ms ease-in-out;
}
button:hover {
  cursor: pointer;
  background: rgb(150, 48, 48);
}

.card-project {
  background-image: url("/image/background.jpg");
  background-size: 100%;
  margin: 20px auto;
  padding: 60px 40px 25px;
  max-width: 55%;
  border-color: rgb(165, 48, 48);
  border-style: double;
  border-radius: 10px;
}
.heading {
  margin-bottom: 60px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: rgb(165, 48, 48);
  font-family: "Courier New", Courier, monospace;
}
